#header-div, #footer-div {
    width: 100%;
    background-color: #4267B2;
}
#footer-div {
    margin-top: 8px;
    height: 85px;
    position: relative;
}

h2 {
    color: white;
    font-weight: bolder;
}

#main-div {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #F5F6F7;
    margin: auto;
    height: 100%;
}
#profile-div {
    margin: auto;
    text-align: center;
    background-color: white;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-image: url("images/lab0/cover.jpeg");
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
#profile-pic {
    padding-top: 10px;
    width: 250px; 
    height: 250px;
    border-radius: 150px;
    position: relative;
}

#body-div{
    border-radius: 10px;
    display:flex;
    margin: auto;
    width: 70%;
}

#body-first-div {
    margin: auto;
    width: 49%;
    text-align:left;
    background-color: white;
    border-radius: 10px;
    float: left;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
#body-second-div {
    margin: auto;
    background-color: white;
    width: 49%;
    height: 100%;
    float: right;
    border-radius: 10px;
    /* box-shadow:black 0.1px 0.1px; */
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.html-checker {
    float: right;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer-left {
    line-height: 15px;
    float: left;
    margin: auto;
    position: relative;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

