.banner-header {
    text-align: center;
    background-image: url('../images/hw2/bannerbg.png');
}

body {
    background-image: url('../images/hw2/background.png');
}

h1 {
    font-size: 24pt;
    font-family:  Tahoma, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px #999999;
}

.main-section{
    width: 800px;
    border-radius: 20px;
    border: grey 4px;
    border-style: solid;
    margin: auto;
}

#left-section {
    float: left;
    width: 550px;
}
#header-section, #header-section > img {
    background-image: url('../images/hw2/rbg.png');
    text-align: left;
    border-top-left-radius: 15px;
}

#header-section {
    width: 100%;
    height: 83px;
}

#first-section {
    float:left;
    width: 47%;
    margin-left: 2%;
    margin-right: 1%;
    text-align: center;
}

#second-section {
    float:right;
    width: 47%;
    margin-left: 1%;
    margin-right: 2%;
    text-align: center;
}

#right-section {
    float: right;
    width: 250px;
    background-color: #A2B964;
    border-top-right-radius: 15px;
    font-size: 8pt;
    font-family: Arial, sans-serif;
}

#overview-image {
    height: 412px;
    width: 100%;
}

#overview-image > img {
    border-top-right-radius: 15px;
}

#overview-content {
    padding: 10pt;
}

#rotten-percent {
    font-size: 48pt;
    color: red;
}

.html-checker {
    float: right;
    margin: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.5;
    /* top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

#footer-section {
    text-align: center;
    position: relative;
    clear: right;
    background-color: #A2B964;
    padding: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.all-images {
    float: left;
    margin-right: 5px;
}

/* .reviews-comment{
    overflow: ;
} */

.reviews-comment > p {
    font-weight: bold;
    font-size: 8pt;
    background-color: #E8DC9B;
    border: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 10px;
    padding: 8px;
    text-align: left;
    overflow: auto;
}

.reviews-comment > img {
    margin-right: 5px;
}

.reviews-user {
    margin-bottom: 20pt;
}

.critic {
    text-align: left;
}

.reviews-user > p {
    text-align: left;
    font-size: 8pt;
}

dl,dd {
    font-weight: bold;
    margin-bottom: 10pt;
}

ul {
    list-style-type: none;  
    padding-left: 0;
}

a:default {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}