doctype html 
html 
head 
    title="Number Quiz Lab"
    style
        include ../includes/numberquiz.css
body 
    h1 The Number Quiz
    p
        span Your current score is 
        span=point
        span .
    p Guess the next number in the sequence.
    p
        span You have completed the Number Quiz, with a score of 
        span=point 
        span  out of 
        span=total
    a(href="/") Start number quiz again!