doctype html 
html 
head 
    title="Number Quiz Lab"
    style
        include ../includes/numberquiz.css
body 
    h1 The Number Quiz
    p
        span Your current score is 
        span=point
        span .
    p Guess the next number in the sequence.
    p=question
    form(action="http://localhost:3001/check-answer" method="POST")
        label Your answer: 
        input(type="text" value="" name="answer" placeholder="Enter your answer")
        input(type="hidden" value=point)
        br
        input(type="submit" value="Submit")