body{
    background-color: #CCCCFF;
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 32pt;
}

textarea {
    width: 90%;
    height: 400px;
    font-size: 12pt;
    font-weight: bold;
}

fieldset {
    border-style:solid;
    border-width: 5px;
    border-color: black;
    display: inline-block;
    vertical-align: top;
}

.html-checker {
    margin: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.5;
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}